@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Bevestig email";
}
<div id="background-fill" class="bodycolor"></div>

<div class="container justify-content-center mt-5">
    <div id="login-container" class="text-center shadow">
        <section>
            <h2>@ViewData["Title"]</h2>
            <p>
                Bedankt om uw email te bevestigen.
                <br/>
                Vanaf nu kan u inloggen en gebruik maken van onze website.
            </p>
        </section>
    </div>
</div>