@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Wachtwoord vergeten - bevestiging";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <p>
        Kijk uw email na om uw wachtwoord te resetten.
    </p>
</div>


