<footer class="socialbar-color footer" style="position: absolute; bottom: 0; width: 100%">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <p class="ml-5 pl-3 mt-2">@DateTime.Now.Year &copy; City Of Ideas</p>
            </div>
            <div class="col-6 text-right">
                <div class="mr-5">
                    <img class="footer-img" src="/dist/logo-uigen.png" />
                    <a href="https://www.treecompany.be/" target="_blank">
                        <img class="footer-img mt-1" src="/dist/logo-treecompany.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>