
@{
    ViewData["Title"] = "Pagina niet gevonden";
}

<div class="container justify-content-center mt-5">
    <div id="login-container" class="text-center shadow">
        <section>
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <p class="text-danger">Oeps! De pagina werd niet gevonden!</p>
            <a href="/" class="btn btn-default btn-large mt-3">
                Ga terug naar de home page
                </a>
        </section>
    </div>
</div>