@{
    ViewData["Title"] = "Platforms";
}

<div class="container">
    <h2>Alle deelnemende platformen</h2>
    <div class="row">
        <div id="platform-results" class="col-md-10">

        </div>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/dist/platforms.entry.js" defer></script>
}