@{
    ViewBag.Title = "Platform Request Panel";
    Layout = "_LayoutAdmin";
}


@section Scripts
{
    <script type="module" src="~/dist/showPlatformRequests.entry.js" defer></script>
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>Platform Request Panel</h1>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="container">
                    <div class="header">
                        <h3 class="title">Beheer platform requests</h3>
                    </div>

                    <div class="body">
                        <div class="panel" id="panel">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
