@using COI.BL.Domain.Ideation

@{
    ViewBag.Title = "Gemelde reacties";
    Layout = "_LayoutAdmin";
}

@section Scripts
{
    <script type="module" src="~/dist/reportPanel.entry.js" defer></script>
}

<h2>Gerapporteerde reacties</h2>
<div id="comments">
    
</div>
<div id="popup"></div>

