@{
    ViewBag.Title = "UserPanel";
    Layout = "_LayoutAdmin";
}


@section Scripts
{
    <script type="module" src="~/dist/showUsers.entry.js" defer></script>
}

<div class="content-wrapper">
    <section class="content-header">
        <h1>User Panel</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="container">
                    <div class="header">
                        <h3 class="title">Beheer gebruikers</h3>
                    </div>
                    <div class="body">
                        <table id="Table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Voornaam</th>
                                <th>Achternaam</th>
                                <th>Email</th>
                                <th>Rechten</th>
                                <th>Verwijderen</th>
                                <th>Blokkeren</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                            <tfoot>
                            <tr>
                                <th>Voornaam</th>
                                <th>Achternaam</th>
                                <th>Email</th>
                                <th>Rechten</th>
                                <th>Verwijderen</th>
                                <th>Blokkeren</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
